@{
    ViewData["Title"] = "Profile";
}

<div class="post">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            <p>@TempData["Success"]</p>
        </div>
    }
    <form enctype="multipart/form-data" class="form newtopic" method="post" action="/Account/EditProfile">
        <div class="postinfotop">
            <h2>User Profile</h2>
        </div>

        <!-- acc section -->
        <div class="accsection">
            <div class="topwrap">
                <div class="userinfo pull-left">
                    <div class="avatar">
                        <img id="img" src="@ViewBag.CurrentUser.PicturePath" alt="Avatar">
                    </div>
                </div>
                <div class="posttext pull-left">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <span>Email:</span>
                            <p>@ViewBag.CurrentUser.Email</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <span>Username:</span>
                            <p>@ViewBag.CurrentUser.UserName</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <span>Display name:</span>
                            <p>@ViewBag.CurrentUser.DisplayName</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <span>Role:</span>
                            @if (ViewBag.CurrentUser.Role == "User")
                            {
                                <p style="color:green">@ViewBag.CurrentUser.Role</p>
                            }
                            else if (ViewBag.CurrentUser.Role == "Pending")
                            {
                                <p style="color:orange">@ViewBag.CurrentUser.Role</p>
                                <span>Check email to complete Registration!</span>
                                <div><a asp-controller="Account" asp-action="ResendEmail" asp-route-email="@ViewBag.CurrentUser.Email" asp-route-code="@ViewBag.CurrentUser.Code">Send validation link</a></div>
                            }
                            else if (ViewBag.CurrentUser.Role == "Blocked")
                            {
                                <p style="color:red">@ViewBag.CurrentUser.Role</p>
                            }
                            else if (ViewBag.CurrentUser.Role == "Admin")
                            {
                                <p style="color:blue">@ViewBag.CurrentUser.Role</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div><!-- acc section END -->

        <div class="postinfobot">
            <div class="pull-right postreply">
                <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
                <div class="pull-left"><button type="submit" class="btn btn-primary">Edit</button></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>